<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

  <div class="admin-container">
    <div class="header-row" style="display: flex; justify-content: space-between; align-items: center;">
        <h1 style="margin-bottom: 20px;">Brand List</h1> 
    </div>

    <div class="stats-grid">
  <div class="stat-card" onclick="window.location.href='/admin/dashboard'"> 
    <h3>Total Products</h3>
    <div class="stat-value"><%= perfumesCount %></div>
  </div>

  <div class="stat-card" onclick="window.location.href='/admin/brands'">
    <h3>Total Brands</h3>
    <div class="stat-value"><%= brandsCount %></div>
  </div>

  <div class="stat-card" onclick="window.location.href='/admin/collectors'">
    <h3>Total Collector</h3>
    <div class="stat-value"><%= collectorsCount %></div>
  </div>
</div>


  <div style="display: flex; justify-content: flex-end; margin-bottom: 10px;">
  <a href="/admin/brands/add" class="btn-add"
     >
     Add New Brand
  </a>
</div>


    <table style="margin-top: 25px;">
        <thead>
            <tr>
                <th>Brand Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if (brands && brands.length > 0) { %>
                <% brands.forEach(b => { %>
                    <tr>
                        <td><%= b.brandName %></td>
                        <td>
                            <a href="/admin/brands/edit/<%= b._id %>" class="btn-edit">Edit</a>
                        </td>
                    </tr>
                <% }) %>
            <% } else { %>
                <tr>
                    <td colspan="2" style="text-align: center;">No brands available</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>


</body>

</html>